# editors
.idea
.vscode

# MacOS
.DS_Store

# coverage reports
coverage/

# test reports
test-reports/

# test outputs
cypress/videos/
cypress/screenshots/

# storybook
.storybook.out
.cache/

# logs
yarn-error.log
npm-debug.log
npm-debug.log.*
